@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');


@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
}

@keyframes animated-gradient{
    to{
      background-position: 200%;
    }
}

*
{
    margin: 0;
    padding: 0;
}


body{    
    background-color: #444654;
}

html{
    scroll-behavior: smooth;
}

#jogos {
    position: absolute;
    margin-top: 1056px;
}

#estudos {
    position: absolute;
    margin: -110px 0px 0px 926px;
}
.fatec_logo {
    width: 88px;
    height: 51px;
    float: right;
    padding: 10px 10px 0px 0px;
}

#perfil {
    padding: 330px 0px 0px 215px;
    float: left;
}

.foto_perfil {
    border-radius: 50%;
    transition: 1s;
    width: 400px;
    height: 400px;
    object-fit: cover;
    box-shadow: 10px 10px 15px;
    border: 6px solid #343541;
}

#apresentacao {
    padding: 140px 0px 0px 100px;
    width: 80rem;
    float: right;
}

.apresentacao_container {
    margin: 2rem;
}

.sobre_mim {
    color: white;
    margin: 50px 0px 350px 0px;
    width: 1000px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    padding: 0 100px;
    font-size: 24px;
    line-height: 60px;
}

.foto_quarto {
    transition: 1s;
    float: right;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 5px solid #343541;
    box-shadow: 10px 10px 15px;
}

.foto_livros {
    transition: 1s;
    float: left;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 5px solid #343541;
    box-shadow: 10px 10px 15px;
}

.estudos {
    transition: 1s;
    float: right;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border: 5px solid #343541;
    box-shadow: 10px 10px 15px;
}

.descricao_games {
    margin: 0px 205px 0px 0px;
    line-height: 60px;
    font-size: 20px;
    text-align: justify;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.descricao_livros {
    margin: 0px 0px 0px 205px;
    line-height: 60px;
    font-size: 20px;
    text-align: justify;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.descricao_estudos {
    margin: 0px 205px 0px 0px;
    line-height: 60px;
    font-size: 20px;
    text-align: justify;
    color: white;
    font-family: 'Roboto', sans-serif;
}   

.descricao_fatec {
    margin: 0px 0px 0px 135px;
    line-height: 60px;
    font-size: 20px;
    text-align: justify;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container_jogos {
    padding: 0px 395px;
    margin: 100px 0px 0px 0px;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
}

.container_livros {
    padding: 0px 395px;
    margin: 100px 0px 350px 0px;
    display: inline-flex;
    align-items: center;
}

.container_estudos {
    padding: 0px 395px;
    margin: 100px 0px 0px 0px;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
}

#perfil-foto:hover {
    cursor: pointer;
    border-radius: 0%;
    transition: 1s;
    border: 6px solid #7f829e;
}

#gamer:hover {
    cursor: pointer;
    border-radius: 0%;
    transition: 1s;
    border: 5px solid #7f829e;
}

#books:hover{
    cursor: pointer;
    border-radius: 0%;
    transition: 1s;
    border: 5px solid #7f829e;
}

#study:hover {
    cursor: pointer;
    border-radius: 0%;
    transition: 1s;
    border: 5px solid #7f829e;
}

iframe{
    filter: invert(100%);
}

#mapa {
    margin: 100px 450px;
}

.video {
    border: 1px solid black;
    width: 700px;
    height: 390px;
}

.fatec {
    padding: 0px 150px;
    margin: 100px 0px 0px 0px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}
 
header{
    padding: 0px 150px 0px 0px;
}

h1 {
    letter-spacing: 10px;
    transition: all 0.5s;
    -webkit-text-stroke: 2px #ffffff;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 75px;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 5px 5px 0px #000000;
    cursor: pointer;
}
  
h1:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
}

.efeito_agua {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 1vmin;
    background: black;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

#texto_agua {
    font-size: 75px;
    position: absolute;
}

.border {
    color: #444654;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.wave {
	color: white;
	animation: wave 3s ease-in-out infinite;
}

.border1 {
    color: white;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.wave1 {
	color: #444654;
	animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
	0%, 100% {
		clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}

