* 
{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

#menu-h {
    position: fixed;
    background-color: rgb(0 9 30 / 60%);
    top: 0;
    left: 0;
    width: 100%;
}

#menu-h ul{
    list-style: none;
    padding: 0;
}

#menu-h ul li{
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
}

#menu-h ul li a {
    font-size: 15px;
    color: #ffffff; 
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    transition: 1s;
    
}

#menu-h ul li a:hover{
    background-color: rgb(255, 255, 255);
    color:black;
    transition: 1s;
}
